In [6]:
# Importando bibliotecas necessárias para a construção de grafos
import netpixi
from netpixi.integration.gt import *
import pandas as pd
import numpy as np
import csv
import ast

In [11]:
df = pd.read_csv('./Video_Games_Sales_as_at_22_Dec_2016.csv')
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.groupby('Genre')['Name'].count().sort_values(ascending=False)

Genre
Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Name, dtype: int64

In [12]:
df_grouped_Genre = df.groupby(['Genre']).agg({'Global_Sales': np.mean})
df_grouped_Genre.sort_values('Global_Sales', ascending=False)

              Global_Sales
Genre
Platform          0.932523
Shooter           0.795873
Role-Playing      0.622933
Racing            0.583587
Sports            0.567291
Fighting          0.527067
Action            0.517884
Misc              0.458960
Simulation        0.446705
Puzzle            0.419000
Strategy          0.255490
Adventure         0.182417

In [38]:
sports_mean_sales = df_grouped_Genre.loc['Sports']['Global_Sales']
action_mean_sales = df_grouped_Genre.loc['Action']['Global_Sales'] 
rpg_mean_sales = df_grouped_Genre.loc['Role-Playing']['Global_Sales']

In [40]:
def segregate_genre_to_list(df, genre, df_list, threshold=None):
    seg_df = df[df['Genre'] == genre]
    if threshold:
        seg_df = seg_df[seg_df['Global_Sales'] > threshold]
    df_list.append(seg_df)

In [36]:
sorted_years = df['Year_of_Release'].unique()
sorted_years.sort()
print(sorted_years)

[1980. 1981. 1982. 1983. 1984. 1985. 1986. 1987. 1988. 1989. 1990. 1991.
 1992. 1993. 1994. 1995. 1996. 1997. 1998. 1999. 2000. 2001. 2002. 2003.
 2004. 2005. 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013. 2014. 2015.
 2016. 2017. 2020.   nan]

In [41]:
df_list = []
sport_df_list = []
action_df_list = []
rpg_df_list = []
for i in range(0, len(sorted_years), 5):
    df_list.append(df[df['Year_of_Release'].isin(sorted_years[i:i+5])])

for db in df_list:
    segregate_genre_to_list(db, 'Sports', sport_df_list, threshold=sports_mean_sales)
    segregate_genre_to_list(db, 'Action', action_df_list, threshold=action_mean_sales)
    segregate_genre_to_list(db, 'Role-Playing', rpg_df_list, threshold=rpg_mean_sales)

In [53]:
sport_df_list[0].head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
300,Golf,NES,1984.0,Sports,Nintendo,1.22,0.28,2.46,0.04,4.01,NaN,NaN,NaN,NaN,NaN,NaN
426,Baseball,NES,1983.0,Sports,Nintendo,0.73,0.10,2.35,0.02,3.20,NaN,NaN,NaN,NaN,NaN,NaN
757,Tennis,NES,1984.0,Sports,Nintendo,0.48,0.11,1.56,0.02,2.17,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
action_df_list[0].head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
736,Frogger,2600,1981.0,Action,Parker Bros.,2.06,0.12,0.00,0.02,2.20,NaN,NaN,NaN,NaN,NaN,NaN
866,E.T.: The Extra Terrestrial,2600,1981.0,Action,Atari,1.84,0.11,0.00,0.02,1.97,NaN,NaN,NaN,NaN,NaN,NaN
942,Pinball,NES,1984.0,Action,Nintendo,0.80,0.19,0.83,0.03,1.85,NaN,NaN,NaN,NaN,NaN,NaN
2218,Spider-Man,2600,1981.0,Action,Parker Bros.,0.87,0.05,0.00,0.01,0.93,NaN,NaN,NaN,NaN,NaN,NaN
2516,Custer's Revenge,2600,1981.0,Action,Mystique,0.76,0.05,0.00,0.01,0.82,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
rpg_df_list[2].head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
388,Final Fantasy III,SNES,1994.0,Role-Playing,SquareSoft,0.86,0.00,2.55,0.02,3.42,NaN,NaN,NaN,NaN,NaN,NaN
443,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12,NaN,NaN,NaN,NaN,NaN,NaN
530,Dragon Quest V: Tenkuu no Hanayome,SNES,1992.0,Role-Playing,Enix Corporation,0.00,0.00,2.78,0.01,2.79,NaN,NaN,NaN,NaN,NaN,NaN
632,Final Fantasy V,SNES,1992.0,Role-Playing,SquareSoft,0.00,0.00,2.43,0.02,2.45,NaN,NaN,NaN,NaN,NaN,NaN
953,Secret of Mana,SNES,1993.0,Role-Playing,SquareSoft,0.25,0.07,1.49,0.02,1.83,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
rpg_df_list[2].to_dict()

{'Name': {388: 'Final Fantasy III',
  443: 'Dragon Warrior IV',
  530: 'Dragon Quest V: Tenkuu no Hanayome',
  632: 'Final Fantasy V',
  953: 'Secret of Mana',
  985: 'Final Fantasy II',
  1383: 'Final Fantasy III',
  1727: 'Romancing SaGa 2',
  1773: 'Dragon Quest I & II',
  2129: 'Romancing SaGa',
  2545: 'EarthBound',
  2633: 'Torneko no Daibouken: Fushigi no Dungeon',
  2711: 'Final Fantasy Legend III',
  2932: 'Fire Emblem: Monsh? no Nazo'},
 'Platform': {388: 'SNES',
  443: 'NES',
  530: 'SNES',
  632: 'SNES',
  953: 'SNES',
  985: 'SNES',
  1383: 'NES',
  1727: 'SNES',
  1773: 'SNES',
  2129: 'SNES',
  2545: 'SNES',
  2633: 'SNES',
  2711: 'GB',
  2932: 'SNES'},
 'Year_of_Release': {388: 1994.0,
  443: 1990.0,
  530: 1992.0,
  632: 1992.0,
  953: 1993.0,
  985: 1991.0,
  1383: 1990.0,
  1727: 1993.0,
  1773: 1993.0,
  2129: 1992.0,
  2545: 1994.0,
  2633: 1993.0,
  2711: 1991.0,
  2932: 1994.0},
 'Genre': {388: 'Role-Playing',
  443: 'Role-Playing',
  530: 'Role-Playing',
  632: 'Role-Playing',
  953: 'Role-Playing',
  985: 'Role-Playing',
  1383: 'Role-Playing',
  1727: 'Role-Playing',
  1773: 'Role-Playing',
  2129: 'Role-Playing',
  2545: 'Role-Playing',
  2633: 'Role-Playing',
  2711: 'Role-Playing',
  2932: 'Role-Playing'},
 'Publisher': {388: 'SquareSoft',
  443: 'Enix Corporation',
  530: 'Enix Corporation',
  632: 'SquareSoft',
  953: 'SquareSoft',
  985: 'Square',
  1383: 'SquareSoft',
  1727: 'SquareSoft',
  1773: 'Enix Corporation',
  2129: 'SquareSoft',
  2545: 'Nintendo',
  2633: 'ChunSoft',
  2711: 'SquareSoft',
  2932: 'Nintendo'},
 'NA_Sales': {388: 0.86,
  443: 0.08,
  530: 0.0,
  632: 0.0,
  953: 0.25,
  985: 0.24,
  1383: 0.0,
  1727: 0.0,
  1773: 0.0,
  2129: 0.0,
  2545: 0.0,
  2633: 0.0,
  2711: 0.0,
  2932: 0.0},
 'EU_Sales': {388: 0.0,
  443: 0.0,
  530: 0.0,
  632: 0.0,
  953: 0.07,
  985: 0.09,
  1383: 0.0,
  1727: 0.0,
  1773: 0.0,
  2129: 0.0,
  2545: 0.0,
  2633: 0.0,
  2711: 0.0,
  2932: 0.0},
 'JP_Sales': {388: 2.55,
  443: 3.03,
  530: 2.78,
  632: 2.43,
  953: 1.49,
  985: 1.33,
  1383: 1.39,
  1727: 1.17,
  1773: 1.15,
  2129: 0.97,
  2545: 0.81,
  2633: 0.78,
  2711: 0.76,
  2932: 0.7},
 'Other_Sales': {388: 0.02,
  443: 0.01,
  530: 0.01,
  632: 0.02,
  953: 0.02,
  985: 0.12,
  1383: 0.01,
  1727: 0.0,
  1773: 0.0,
  2129: 0.0,
  2545: 0.0,
  2633: 0.0,
  2711: 0.0,
  2932: 0.0},
 'Global_Sales': {388: 3.42,
  443: 3.12,
  530: 2.79,
  632: 2.45,
  953: 1.83,
  985: 1.77,
  1383: 1.4,
  1727: 1.17,
  1773: 1.15,
  2129: 0.97,
  2545: 0.81,
  2633: 0.78,
  2711: 0.76,
  2932: 0.7},
 'Critic_Score': {388: nan,
  443: nan,
  530: nan,
  632: nan,
  953: nan,
  985: nan,
  1383: nan,
  1727: nan,
  1773: nan,
  2129: nan,
  2545: nan,
  2633: nan,
  2711: nan,
  2932: nan},
 'Critic_Count': {388: nan,
  443: nan,
  530: nan,
  632: nan,
  953: nan,
  985: nan,
  1383: nan,
  1727: nan,
  1773: nan,
  2129: nan,
  2545: nan,
  2633: nan,
  2711: nan,
  2932: nan},
 'User_Score': {388: nan,
  443: nan,
  530: nan,
  632: nan,
  953: nan,
  985: nan,
  1383: nan,
  1727: nan,
  1773: nan,
  2129: nan,
  2545: nan,
  2633: nan,
  2711: nan,
  2932: nan},
 'User_Count': {388: nan,
  443: nan,
  530: nan,
  632: nan,
  953: nan,
  985: nan,
  1383: nan,
  1727: nan,
  1773: nan,
  2129: nan,
  2545: nan,
  2633: nan,
  2711: nan,
  2932: nan},
 'Developer': {388: nan,
  443: nan,
  530: nan,
  632: nan,
  953: nan,
  985: nan,
  1383: nan,
  1727: nan,
  1773: nan,
  2129: nan,
  2545: nan,
  2633: nan,
  2711: nan,
  2932: nan},
 'Rating': {388: nan,
  443: nan,
  530: nan,
  632: nan,
  953: nan,
  985: nan,
  1383: nan,
  1727: nan,
  1773: nan,
  2129: nan,
  2545: nan,
  2633: nan,
  2711: nan,
  2932: nan}}